/* _________ ELEMENTOS COMUNS _________ */
@media (max-width:801px) {

}

@media (min-width:801px) {
    p {
        text-align: left;
    }
}

section {
    padding: 2rem 3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

p {
    margin: 1rem 0;
}

/* _________ HEADER _________ */
@media (max-width:801px) {
    header {
        background-image: url("../imgs/contatoheader_mobile.webp");
    }

    #logo_section {
        visibility: hidden;
    }
}

@media (min-width:801px) {
    header {
        background-image: url("../imgs/contatoheader.webp");
    }
}

/* _________ CONTATO _________ */
@media (max-width:801px) {
    form {
        line-height: 3rem;
    }
}

@media (min-width:801px) {
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .infos {
        grid-column: 1 / 2;
        grid-row: 1 / 4;

        display: flex;
        flex-direction: column;
        justify-content:space-between;
    }

    .mensagem {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
    }

    button {
        grid-column: 1 / 4;
        grid-row: 4 / 5;
    }
}

input {
    width: 85%;

    border: 2px solid #bcbebd85;
    border-radius: .5rem;
    padding: .5rem;

    background-color: bisque;
    color: gray;
}

textarea {
    width: 90%;
    border: 2px solid #bcbebd85;
    border-radius: .5rem;
    padding: .5rem;
    background-color: bisque;
    color: gray;
}

form button {
    margin: .5rem auto;
    width: 100%;
}